<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831207032795-mbnfipri9r77hid72bjldt0jcti0ik3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831207032795-mbnfipri9r77hid72bjldt0jcti0ik3g</string>
	<key>API_KEY</key>
	<string>AIzaSyCRTyTh9W_ke-FF0bE160opKOOvcpiR4zs</string>
	<key>GCM_SENDER_ID</key>
	<string>831207032795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.locationBasedApp</string>
	<key>PROJECT_ID</key>
	<string>locationbasedapp-b4647</string>
	<key>STORAGE_BUCKET</key>
	<string>locationbasedapp-b4647.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831207032795:ios:3ca7e4f1ef2b147cd049fe</string>
</dict>
</plist>